# --- INIT DEFAULTS ---
init-author-name=reiorozco
init-author-email=rfoc15@gmail.com
init-license=MIT
init-version=0.1.0

# --- SILENCIAR RUIDO ---
fund=false
audit-level=high

# --- OUTPUT LIMPIO ---
progress=false
loglevel=warn

# --- SEGURIDAD ---
ignore-scripts=false
