init-author-name=reiorozco
init-author-email=rfoc15@gmail.com
init-license=MIT
init-version=0.1.0
fund=false
audit-level=high
progress=false
loglevel=warn
ignore-scripts=false
//npm.pkg.github.com/:_authToken=${GITHUB_PKG_TOKEN}
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
